{% load static %}


	<div class="section padding-top background-dark over-hide footer-1 dark z-bigger-2">
		<div class="container">
			<div class="row">
                <div class="col-md-4">
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Phone-2"></i>
                        <h5 class="mt-3 pb-0 mb-0" style="color: white">+7 (7132) 99-84-75</h5>
                    </div>
                    <br>
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Smartphone-4"></i>
                        <h5 class="mt-3 pb-0 mb-0" style="color: white">+7 (702) 532-36-08</h5>
                    </div>
                </div>
                <div class="col-md-4 mt-4 mt-md-0">
                 <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Mail-Open"></i>
                        <h5 class="mt-3 pb-0 mb-0" style="color: white">Ali_kaimuldin@mail.ru</h5>
                    </div>
                    <br>
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Skype"></i>
                        <h5 class="mt-3 pb-0 mb-0" style="color: white">vektora71</h5>
                    </div>

                </div>

                <div class="col-md-4 mt-4 mt-md-0 text-center">
                  <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Vimeo"></i>
                        <a href="https://vk.com/akaymuldin71"><h5 class="mt-3 pb-0 mb-0" style="color: white">akaymuldin71</h5></a>
                    </div>
                    <br>
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Facebook"></i>
                        <a href="https://www.facebook.com/ali.kaimuldin"><h5 class="mt-3 pb-0 mb-0" style="color: white">ali.kaimuldin</h5></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="services-box-1 p-0 text-center">
                        <a href="{% url 'static_pages:politic' %}"><h5 class="mt-3 pb-0 mb-0" style="color: white">Политика конфиденциальности</h5></a>
                    </div>

                </div>
			</div>
            <br><br>
		</div>
	  <br>
	</div>