{% load static %}


	<div class="section padding-top background-dark over-hide footer-1 dark z-bigger-2">
		<div class="container">
			<div class="row">
                <div class="col-md-4">
{#                    <a href="tel:87132998475">#}
                        <div class="services-box-1 p-0 text-center">
                            <i class="funky-ui-icon icon-Phone-2"></i>
                            <h5 class="mt-3 pb-0 mb-0" style="color: white">+7 (7132) 99-84-75</h5>
                        </div>
{#                    </a>#}
                </div>
                <div class="col-md-4 mt-4 mt-md-0">
{#                    <a href="tel:87025323608">#}
                        <div class="services-box-1 p-0 text-center">
                            <i class="funky-ui-icon icon-Smartphone-4"></i>
                            <h5 class="mt-3 pb-0 mb-0" style="color: white">+7 (702) 532-36-08</h5>
                        </div>
{#                    </a>#}
                </div>

                <div class="col-md-4 mt-4 mt-md-0 text-center">
{#                     <a href="mailto:Ali_kaimuldin@mail.ru">#}
                    <div class="services-box-1 p-0 text-center">
                        <i class="funky-ui-icon icon-Mail-Open"></i>
                        <h5 class="mt-3 pb-0 mb-0" style="color: white">Ali_kaimuldin@mail.ru</h5>
                    </div>
{#                     </a>#}
                </div>

			</div>
            <br><br>
		</div>
	  <br>
	</div>