<!-- Footer Dark Block
	================================================== -->

	<div class="section padding-top over-hide background-dark footer-1 dark">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h6>Контакты</h6>
					<ul class="list-style">
						<li>Тел: <a href="digital-agency.html"> +7(777) 777 77 77</a></li>

					</ul>
				</div>
				<div class="col-md-3 mt-4 mt-md-0">

				</div>
				<div class="col-md-3 mt-4 mt-md-0">

				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<h6>Адрес</h6>
					<ul class="list-style">
						<li>Адрес: <a href="about-company.html"> About</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container scd-foot padding-top-small padding-bottom-smaller">
			<div class="row">
				<div class="col-md-6">
					<p>© 2013 Funky. Разработано <i class="fa fa-heart"></i> by <a href="https://redlion.kz" target="_blank">Red Lion</a>!</p>
				</div>
			</div>
		</div>
	</div>