{% load static %}
<!-- JAVASCRIPT
================================================== -->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/custom/custom-personal-portfolio.js' %}"></script>#}


