{% extends 'base.html' %}
{% load static %}
{% block title %}
    наши контакты! мы находимся в городе Актобе! Led экраны
{% endblock %}
{% block meta %}

{% endblock %}
{% block content %}


	<!-- Hero Slider Block
	================================================== -->

	<div class="section big-height" style="height: 85vh;">
		<div class="parallax" style="background-image: url('{% static 'img/bagraund_main.jpg'%}')"></div>
		<div class="light-fade-over-2"></div>
		<div class="hero-center-wrap z-bigger">
			<div class="container hero-text parallax-fade-top">
				<div class="row">
					<div class="col-md-12">
						<h2 class="typed" style="color: #fff">Наши контакты <span id="typed-1"></span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Services Block
	================================================== -->

	<div class="section pt-5 pt-md-0 pb-5 pb-md-0 background-grey z-bigger-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 transform-y-120">
					<div class="services-box-1 background-dark drop-shadow text-center">
						<i class="funky-ui-icon icon-Phone-2"></i>
						<p class="mt-3">+7 (7132) 99-84-75</p>
					</div>
				</div>
				<div class="col-md-4 transform-y-120 mt-4 mt-md-0">
					<div class="services-box-1 background-dark drop-shadow text-center">
						<i class="funky-ui-icon icon-Smartphone-4"></i>
						<p class="mt-3">+7 (702) 532-36-08</p>
					</div>
				</div>
				<div class="col-md-4 transform-y-120 mt-4 mt-md-0">
					<div class="services-box-1 background-dark drop-shadow text-center">
						<i class="funky-ui-icon icon-Mail-Open"></i>
						<p class="mt-3">Ali_kaimuldin@mail.ru</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="section padding-top-bottom background-dark over-hide">
		<div class="container">
			<div class="row">
				<div class="clear"></div>
				<div class="col-lg-8 mt-lg-5 mt-xl-0">
					<div class="video-section">
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2dd113c21cb643ae1a3ed93cf5127d7c70213f22b77d57780dcaf9d83c71f9a7&amp;source=constructor" width="672" height="392" frameborder="0"></iframe>
					</div>
				</div>
				<div class="col-lg-4 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s" data-scroll-reveal-id="4" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
					<div class="call-box-5 dark">
						<h4 class="color-white">LEDvAktobe.kz</h4>
						<p class="mb-5">Продажа рекламных светодиодных LED экранов в Актобе,установка от 700 долларов за квадратный метр. Гарантия 3 года!</p>
                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-simple btn-round btn-long scroll">Заказать звонок</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Block
	================================================== -->


          <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Заказать звонок</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
         <form id="form contact_form" action="" method="post">
             {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Ваше имя</label>
                <input type="text" name="name" class="form-control" placeholder="Ваше имя">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Ваш Тел.номер</label>
                <input type="tel"  name="telephone" class="form-control" placeholder="Тел">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Заказать звонок</button>
          </div>
          </form>
        </div>
      </div>
    </div>


	{% endblock %}

    {% block script %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
        <script type="text/javascript" src="{% static 'js/custom/custom-contact-split.js' %}"></script>
        <script>
            $(document).ready(function(){
                $("#form").submit(function() { //
                 var formNm = $(this);
                 $.ajax({
                 type: "POST",
                 url: '',
                 data: formNm.serialize(),
                 success: function (data) {
                 // Вывод текста результата отправки
                 $(formNm).html(data);
                 },
                 error: function (jqXHR, text, error) {
                 // Вывод текста ошибки отправки
                 $(formNm).html(error);
                 }
                 });
                 return false;
                 });
                });

         </script>
    {% endblock %}