{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block meta %}

{% endblock %}
{% block content %}



	<!-- Hero Slider Block
	================================================== -->

	<div class="section big-height">
		<div class="parallax" style="background-image: url('{% static 'img/bagraund_main.jpg'%}')"></div>
		<div class="light-fade-over-2"></div>
		<div class="hero-center-wrap z-bigger">
			<div class="container hero-text parallax-fade-top">
				<div class="row">
					<div class="col-md-12">
						<h2 class="typed" style="color: #fff">Светодиодные <span id="typed-1"></span></h2>
						<div class="subtext mt-3" style="color: #fff">Качественное оборудование, монтаж и сервис от профессионалов!</div>
						<a href="#scroll-top1" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll" >Посмотерть LED-экраны</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services Block
	================================================== -->

	<div class="section pt-5 pt-md-0 pb-5 pb-md-0 background-grey z-bigger-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 transform-y-120">
					<div class="services-box-1 background-dark drop-shadow">
						<i class="funky-ui-icon icon-Text-Box"></i>
						<h5 class="color-white mt-3">Лучшие цены</h5>
						<p class="mt-3">От 145 000 тг за 1 кв.м </p>
					</div>
				</div>
				<div class="col-md-4 transform-y-120 mt-4 mt-md-0">
					<div class="services-box-1 background-dark drop-shadow">
						<i class="funky-ui-icon icon-Sand-watch"></i>
						<h5 class="color-white mt-3">Бытрсая доставка</h5>
						<p class="mt-3">Доставка от 3 дней</p>
					</div>
				</div>
				<div class="col-md-4 transform-y-120 mt-4 mt-md-0">
					<div class="services-box-1 background-dark drop-shadow">
						<i class="funky-ui-icon icon-Medal"></i>
						<h5 class="color-white mt-3">Гарантия</h5>
						<p class="mt-3">3 года гарантии</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Call to Action Block
	================================================== -->

	<div class="section padding-top-bottom-small background-dark z-bigger-2" id="scroll-top">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-box-1 dark text-center text-md-left">
						<h5 class="mb-2">Качественное оборудование, монтаж и сервис от профессионалов! <br> Мы работаем 11 лет на рынке</h5>
					</div>
				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<div class="call-box-1 dark text-center text-md-right">
						<a href="portfolio-masonry-3col.html" class="btn btn-primary btn-simple btn-round btn-long" >Бесплатная консультация</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services Block
	================================================== -->

	<div class="section padding-top-bottom background-grey">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title text-center">
						<h3>ПОЧЕМУ МЫ?</h3>
						<div class="main-subtitle-bottom mt-3">Несколько причин для того, чтобы Вы остановили свой выбор именно на нас..</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-md-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Idea-2"></i>
						<p class="mt-3 mb-4">Специализируемся только на светодиодных технологиях в бизнесе и предоставляем в этом сегменте полный спектр профессиональных услуг.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Environmental-2"></i>
						<p class="mt-3 mb-4">Мы обладаем собственными независимыми производственными мощностями, что позволяет нам изготавливать
                            светодиодные экраны “под ключ“ без привлечения субподрядчиков.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Newspaper"></i>
						<p class="mt-3 mb-4">Наша компания всегда в курсе всех новинок в своем направлении. Это позволяет решить любую задачу нашего клиента.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Police"></i>
						<p class="mt-3 mb-4">В своей работе мы используем только качественные комплектующие и сотрудничаем с лучшими производителями светодиодной продукции</p>
					</div>
				</div>
				<div class="col-md-4 mt-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Eye-Scan"></i>
						<p class="mt-3 mb-4">Мы всегда совершенствуем свои знания, тем самым обеспечивая профессиональный подход к работе.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Password"></i>
						<p class="mt-3 mb-4">Честно и полностью выполняем все свои гарантийные и сервисные обязательства.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Title Block With Parallax Background Image
	================================================== -->

	<div id="scroll-top1" class="section padding-top-bottom over-hide" >
		<div class="parallax-1" style="background-image: url('{% static 'img/parallax-21.jpg' %}')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title on-dark text-center">
						<h3 >НАШИ ТОВАРЫ</h3>
						<div class="main-subtitle-bottom mt-3">
                            Мы предоставляем полный спектр услуг в сфере светодиодных технологий для бизнеса
                        </div>
                        <div class="main-subtitle-bottom mt-3">
                           Тут вы можете увидеть наш ассортимент
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Team Block
	================================================== -->

	<div class="section background-grey z-bigger-2">
		<div class="container">
			<div class="row transform-y-120 transform-on-mob">
				<div class="team-slider-wrap mb-4">
					<div id="owl-team" class="owl-carousel owl-theme">
                        {% for product in products %}
						<div class="item">
							<div class="team-box-1 background-white drop-shadow text-center">
								<img  src="{{ product.image.url }}" alt="" />
								<h6 class="mt-4 mb-1">{{ product.name }}</h6>
								<p class="mb-4">{{ product.min_description }}</p>
                                <a href="" class="btn btn-primary btn-simple btn-round btn-long">Заказать</a>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Progress Bars Block
	================================================== -->

	<div class="section padding-top-bottom-small background-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h4 class="color-white">О НАС В ЦИФРАХ</h4>
                    <h5 class="color-white">Немного статистики и фактов.</h5>
					<a href="contact-planner.html" class="btn btn-primary btn-round btn-simple mt-4" >Заказать звонок</a>
				</div>
				<div class="col-md-7 mt-5 mt-md-0" id="progress">
					<div class="progress-container">
						<span class="progress-badge dark">Мы на рынке (лет)</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="11" style="width: 87%;">
								<span class="progress-value"><span class="counter">10 </span></span>
							</div>
						</div>
					</div>
					<div class="progress-container mt-4">
						<span class="progress-badge dark">Количестов выполненных проектов</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="200" aria-valuemin="0" aria-valuemax="300" style="width: 100%;">
								<span class="progress-value"><span class="counter">200 </span></span>
							</div>
						</div>
					</div>
					<div class="progress-container mt-4">
						<span class="progress-badge dark">Количество довльных клиентов</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="150" aria-valuemin="0" aria-valuemax="160" style="width: 93%;">
								<span class="progress-value"><span class="counter">150</span></span>
							</div>
						</div>
					</div>
					<div class="progress-container mt-4">
						<span class="progress-badge dark">кв.м. производства</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="600" aria-valuemin="0" aria-valuemax="700" style="width: 78%;">
								<span class="progress-value"><span class="counter">600</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Separator Line
	================================================== -->
	<div class="section padding-top-bottom-1 background-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="separator-wrap">
						<span class="separator"><span class="separator-line dashed"></span></span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Portfolio Block
	================================================== -->

	<div class="section padding-top background-white" id="scroll-top2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">НАШИ РАБОТЫ</div>
						<h3>Здесь представлены некоторые наши работы</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-wraper with-margin clearfix">
            {% for work in works %}
			<div class="grid-box float-inline third with-margin branding">
                <div class="portfolio-box-1 rounded">
                    <img  src="{{ work.photo.url }}" alt="" />
                    <div class="portfolio-mask-1"></div>
                    <h5>{{ work.name }}</h5>
                    <p>{{ work.description }}</p>
                </div>
			</div>
            {% endfor %}

		</div>
	</div>


	<!-- Call To Action Block
	================================================== -->

	<div class="section padding-top-bottom background-image-cover over-hide" style="background-image: url('{% static 'img/back-image.jpg' %}')">
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row">
				<div class="col-md-12">
					<div class="call-box-2 text-center">
						<h2 class="color-white mb-3">Хотите узнать больше о нас?</h2>
						<a href="contact-planner.html" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll">Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% if sended == False %}
    {% endif %}
{#{% for product in products %}#}
{##}
{#{% endfor %}#}
{% endblock %}

{% block script %}
{% endblock %}