{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    Продажа рекламных светодиодных LED экранов в Актобе,установка от 700 долларов за квадратный метр. Гарантия 3 года!"
{% endblock %}
{% block meta %}
Продажа рекламных светодиодных LED экранов в Актобе,установка от 700 долларов за квадратный метр. Гарантия 3 года!,
    led экраны, медиафасады, архитектурная подсветка, светодиодное освещение в Казахстане
{% endblock %}
{% block content %}



	<!-- Hero Slider Block
	================================================== -->

	<div class="section big-height">
		<div class="parallax" style="background-image: url('{% static 'img/bagraund_main.jpg'%}')"></div>
		<div class="light-fade-over-2"></div>
		<div class="hero-center-wrap z-bigger">
			<div class="container hero-text parallax-fade-top">
				<div class="row">
					<div class="col-md-7">
						<h2 class="typed" style="color: #fff"><span id="typed-1"></span></h2>
						<div class="subtext mt-3" style="color: #fff">Качественное оборудование, монтаж и сервис от профессионалов!</div>
						<a href="#scroll-top1" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll" >Посмотерть</a>
					</div>
                    <div class="col-md-5 text-center">
                        <div class="modal-content" style="background-color: rgba(0, 0, 0, 0.68);">
                          <div class="modal-header">
                            <h5 class="modal-title color-white" style="font-size: 1rem;">ОСТАВЬТЕ ЗАЯВКУ НА ПРОСЧЕТ И ПОЛУЧИТЕ ВИДЕОЭКСКИЗ В ПОДАРОК</h5>
                          </div>
                         <form id="form contact_form" action="" method="post">
                             {% csrf_token %}
                          <div class="modal-body">
                              <div class="form-group">
                                <input type="text" name="name" class="form-control" style="border-bottom: 1px solid rgb(255, 255, 255); color: #ffffff;" placeholder="Ваше имя">
                              </div>
                              <div class="form-group">
                                <input type="tel"  name="telephone" class="form-control" style="border-bottom: 1px solid rgb(255, 255, 255); color: #ffffff;" placeholder="Тел">
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Оставить заявку</button>
                          </div>
                          </form>
                        </div>
{#                        <h4 class="color-white">ОСТАВЬТЕ ЗАЯВКУ НА ПРОСЧЕТ И ПОЛУЧИТЕ ВИДЕОЭКСКИЗ В ПОДАРОК</h4>#}
{#                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter1" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll">Оставить заявку</button>#}
                    </div>
				</div>
			</div>
		</div>
	</div>



	<!-- Services Block
	================================================== -->

	<div class="section pt-5 pt-md-0 pb-5 pb-md-0 background-grey z-bigger-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 transform-y-120">
					<div class="services-box-1 background-dark drop-shadow">
						<i class="funky-ui-icon icon-Text-Box"></i>
						<h5 class="color-white mt-3">Лучшие цены</h5>
						<p class="mt-3">От 145 000 тг за 1 кв.м </p>
					</div>
				</div>
				<div class="col-md-4 transform-y-120 mt-4 mt-md-0">
					<div class="services-box-1 background-dark drop-shadow">
						<i class="funky-ui-icon icon-Sand-watch"></i>
						<h5 class="color-white mt-3">Быстрая доставка</h5>
						<p class="mt-3">Доставка от 3 дней</p>
					</div>
				</div>
				<div class="col-md-4 transform-y-120 mt-4 mt-md-0">
					<div class="services-box-1 background-dark drop-shadow">
						<i class="funky-ui-icon icon-Medal"></i>
						<h5 class="color-white mt-3">Гарантия</h5>
						<p class="mt-3">3 года гарантии</p>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Call to Action Block
	================================================== -->

	<div class="section padding-top-bottom-small background-dark z-bigger-2" id="scroll-top">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-box-1 dark text-center text-md-left">
						<h5 class="mb-2">Качественное оборудование, монтаж и сервис от профессионалов! <br> Мы работаем 11 лет на рынке</h5>
					</div>
				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<div class="call-box-1 dark text-center text-md-right">
						<button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-simple btn-round btn-long" >Бесплатная консультация</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services Block
	================================================== -->

	<div class="section padding-top-bottom background-grey">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title text-center">
						<h3>ПОЧЕМУ МЫ?</h3>
						<div class="main-subtitle-bottom mt-3">Несколько причин для того, чтобы Вы остановили свой выбор именно на нас..</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-md-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Idea-2"></i>
						<p class="mt-3 mb-4">Специализируемся только на светодиодных технологиях в бизнесе и предоставляем в этом сегменте полный спектр профессиональных услуг.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Environmental-2"></i>
						<p class="mt-3 mb-4">Мы обладаем собственными независимыми производственными мощностями, что позволяет нам изготавливать
                            светодиодные экраны “под ключ“ без привлечения субподрядчиков.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Newspaper"></i>
						<p class="mt-3 mb-4">Наша компания всегда в курсе всех новинок в своем направлении. Это позволяет решить любую задачу нашего клиента.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Police"></i>
						<p class="mt-3 mb-4">В своей работе мы используем только качественные комплектующие и сотрудничаем с лучшими производителями светодиодной продукции</p>
					</div>
				</div>
				<div class="col-md-4 mt-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Eye-Scan"></i>
						<p class="mt-3 mb-4">Мы всегда совершенствуем свои знания, тем самым обеспечивая профессиональный подход к работе.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="services-box-1 background-white text-center drop-shadow-1">
						<i class="funky-ui-icon icon-Password"></i>
						<p class="mt-3 mb-4">Честно и полностью выполняем все свои гарантийные и сервисные обязательства.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Title Block With Parallax Background Image
	================================================== -->

	<div id="scroll-top1" class="section padding-top-bottom over-hide" >
		<div class="parallax-1" style="background-image: url('{% static 'img/parallax-21.jpg' %}')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title on-dark text-center">
						<h3 >НАШИ ТОВАРЫ</h3>
						<div class="main-subtitle-bottom mt-3">
                            Мы предоставляем полный спектр услуг в сфере светодиодных технологий для бизнеса
                        </div>
                        <div class="main-subtitle-bottom mt-3">
                           Тут вы можете увидеть наш ассортимент
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Team Block
	================================================== -->
    <div class="section padding-top-bottom background-grey over-hide">
        <div class="container">
            <div class="row justify-content-center">
                <div class="clear"></div>
                <div class="blog-slider-wrap mb-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                    <div class="customNavigation">
                        <a class="prev-blog"><i class="fa fa-angle-left"></i></a>
                        <a class="next-blog"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div id="owl-blog" class="owl-carousel owl-theme">
                        {% for product in products %}
                        <div class="item text-center">
                            <div class="background-white drop-shadow">
                                <img src="{{ product.img|thumbnail_url:'avatar' }}" alt=""  style="width: 100%"/>
                                <a href="post.html"><h5>{{ product.name }}</h5></a>
                                <p class="mt-3 col-md-11">
                                    {{ product.price|safe }}
                                </p>
                                <div class="separator-wrap pt-3">
                                    <span class="separator"><span class="separator-line"></span></span>
                                </div>
                                <div class="author-wrap mt-5">
                                   <button type="button" data-toggle="modal" data-target="#product-{{ product.id }}" class="btn btn-primary btn-simple btn-round btn-long">Заказать</button><br><br>
                                    <a href="{% url 'stock:prodict_detail' product.id %}" class="btn btn-primary btn-simple btn-round btn-long">Подробнее</a>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>






{#	<div class="section background-grey z-bigger-2">#}
{#		<div class="container">#}
{#			<div class="row transform-y-120 transform-on-mob">#}
{#				<div class="team-slider-wrap mb-4">#}
{#					<div id="owl-team" class="owl-carousel owl-theme">#}
{#                        {% for product in products %}#}
{#						<div class="item">#}
{#							<div class="team-box-1 background-white drop-shadow text-center">#}
{#								<img src="{{ product.img|thumbnail_url:'avatar' }}" alt="" />#}
{#                                <a href="{% url 'stock:prodict_detail' product.id %}">#}
{#                                    <h6 class="mt-4 mb-1">{{ product.name }}</h6>#}
{#                                </a>#}
{#                                <p class="mb-4">#}
{#                                    {{ product.price|safe }}#}
{#                                </p>#}
{#                                <button type="button" data-toggle="modal" data-target="#product-{{ product.id }}" class="btn btn-primary btn-simple btn-round btn-long">Заказать</button><br><br>#}
{#                                <a href="{% url 'stock:prodict_detail' product.id %}" class="btn btn-primary btn-simple btn-round btn-long">Подробнее</a>#}
{#							</div>#}
{#						</div>#}
{#                        {% endfor %}#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}


    {% for product in products %}
    <!-- Modal -->
    <div class="modal fade" id="product-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Заказать</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
         <form id="form" method="post" class="order-form">
             {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                  <select  class="form-control" name="product" id="">
                    <option value="{{ product.id }}">{{ product.name }}</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Ваше имя</label>
                <input name="name" type="text" class="form-control" placeholder="Ваше имя">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Ваш Тел.номер</label>
                <input name="phone" type="tel" class="form-control" placeholder="Тел">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Заказать звонок</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}


	<!-- Progress Bars Block
	================================================== -->

	<div class="section padding-top-bottom-small background-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h4 class="color-white">О НАС В ЦИФРАХ</h4>
                    <h5 class="color-white">Немного статистики и фактов.</h5>
                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter"  class="btn btn-primary btn-round btn-simple mt-4" >Заказать звонок</button>
				</div>
				<div class="col-md-7 mt-5 mt-md-0" id="progress">
					<div class="progress-container">
						<span class="progress-badge dark">Мы на рынке (лет)</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="11" style="width: 87%;">
								<span class="progress-value"><span class="counter">10 </span></span>
							</div>
						</div>
					</div>
					<div class="progress-container mt-4">
						<span class="progress-badge dark">Количестов выполненных проектов</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="200" aria-valuemin="0" aria-valuemax="300" style="width: 100%;">
								<span class="progress-value"><span class="counter">200 </span></span>
							</div>
						</div>
					</div>
					<div class="progress-container mt-4">
						<span class="progress-badge dark">Количество довльных клиентов</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="150" aria-valuemin="0" aria-valuemax="160" style="width: 93%;">
								<span class="progress-value"><span class="counter">150</span></span>
							</div>
						</div>
					</div>
					<div class="progress-container mt-4">
						<span class="progress-badge dark">кв.м. производства</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="600" aria-valuemin="0" aria-valuemax="700" style="width: 78%;">
								<span class="progress-value"><span class="counter">600</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Separator Line
	================================================== -->
	<div class="section padding-top-bottom-1 background-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="separator-wrap">
						<span class="separator"><span class="separator-line dashed"></span></span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Portfolio Block
	================================================== -->

	<div class="section padding-top background-white" id="scroll-top2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">НАШИ РАБОТЫ</div>

					</div>
				</div>
			</div>
		</div>
    </div>

    <!-- Work Block
	================================================== -->

{#    <div class="section padding-top-bottom background-white z-bigger-2">#}
{#        <div class="container-fluid px-4">#}
{#			<div class="row">#}
{#				<div id="aniimated-thumbnials" class="grid-wraper clearfix">#}
{#                    {% for work in works %}#}
{#					<div class="grid-box float-inline third with-margin photo motion">#}
{#						<a href="{{ work.photo.url}}">#}
{#							<div class="portfolio-box-1 rounded">#}
{#								<img  src="{{ work.photo|thumbnail_url:'work' }}" alt="{{ work.name }}" />#}
{#                                <a href="{{ work.photo.url}}">#}
{#                                    <div class="portfolio-mask-3 rounded"></div>#}
{#                                    <h5 class="on-center text-center">{{ work.name }}</h5>#}
{#                                    <p class="on-center text-center">{{ work.description }}</p>#}
{#                                </a>#}
{#							</div>#}
{#						</a>#}
{#					</div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



	<div class="section background-white z-bigger">
		<div class="container-fluid">
			<div class="row transform-y-120 transform-on-mob">
				<div class="work-slider-wrap mb-4" id="">
					<div id="owl-work" class="owl-carousel owl-theme">
                        {% for work in works %}
						<div class="item">
							<a href="{{ work.photo.url}}">
								<div class="portfolio-box-1 dark rounded">
									<img  src="{{ work.photo|thumbnail_url:'work' }}" alt="" />
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">{{ work.name }}</h5>
									<p class="on-center text-center">{{ work.description }}</p>
								</div>
							</a>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>





	<!-- Call To Action Block
	================================================== -->

	<div class="section padding-top-bottom background-image-cover over-hide" style="background-image: url('{% static 'img/back-image.jpg' %}')">
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row">
				<div class="col-md-12">
					<div class="call-box-2 text-center">
						<h2 class="color-white mb-3">Хотите узнать больше о нас?</h2>
						<button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll">Заказать звонок</button>
					</div>
				</div>
			</div>
		</div>
	</div>


        <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Заказать звонок</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
         <form id="form contact_form" action="" method="post">
             {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Ваше имя</label>
                <input type="text" name="name" class="form-control" placeholder="Ваше имя">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Ваш Тел.номер</label>
                <input type="tel"  name="telephone" class="form-control" placeholder="Тел">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Заказать звонок</button>
          </div>
          </form>
        </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Оставить заявку</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
         <form id="form contact_form" action="" method="post">
             {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Ваше имя</label>
                <input type="text" name="name" class="form-control" placeholder="Ваше имя">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Ваш Тел.номер</label>
                <input type="tel"  name="telephone" class="form-control" placeholder="Тел">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Оставить заявку</button>
          </div>
          </form>
        </div>
      </div>
    </div>

{#    {% else %}#}
{#        <div class="alert modal fade alert-info alert-dismissible show" tabindex="-1" role="alert">#}
{#            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                <span aria-hidden="true"><i class="funky-ui-icon icon-Close"></i></span>#}
{#            </button>#}
{#           <h5>Спасибо. Ваша заявка принята.</h5>#}
{#        </div>#}
{#     {% endif %}#}
{##}
    {% if sended %}
         <div class="alert modal fade show" id="exampleModalCenter1" tabindex="-3" role="alert">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-tab-primary">
              <div class="modal-header">
                <h5 class="modal-title color-white" id="exampleModalLongTitle">Спасибо! Ваша заявка принята</h5>
                <button type="button" class="close color-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
         </div>
    {% endif %}



{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $("#form").submit(function() { //
     var formNm = $(this);
     $.ajax({
     type: "POST",
     url: '',
     data: formNm.serialize(),
     success: function (data) {
     // Вывод текста результата отправки
     $(formNm).html(data);
     },
     error: function (jqXHR, text, error) {
     // Вывод текста ошибки отправки
     $(formNm).html(error);
     }
     });
     return false;
     });
    });

 </script>
    <script type="text/javascript" src="{% static 'js/custom/custom-op-corporate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{% static 'js/g/lightgallery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/g/lightgallery-all.min.js' %}"></script>
     <script type="text/javascript" >
      $('#aniimated-thumbnials').lightGallery({
          thumbnail:true,
          animateThumb: false,
          showThumbByDefault: false
          });
    </script>

{% endblock %}