{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block meta %}
    {{ product.description }}
{% endblock %}
{% block content %}
<div class="section padding-top-bottom background-dark over-hide">
    <div class="container">
        <div class="row">
            <div class="clear"></div>
            <br><br><br><br>
            <div class="col-lg-8 mt-lg-5 mt-xl-0">
                <div class="video-section">
                    <figure class="vimeo rounded-2 img-raised over-hide">
                        <img src="{{ product.img.url }}" alt="{{ product.name }}" class="rounded-2 over-hide">
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s" data-scroll-reveal-id="4" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="call-box-5 dark">
                    <h4 class="color-white">{{ product.name }}</h4>
                    <p class="mt-3 mb-5">{{ product.description|safe }}</p><br>
                    <p class="mt-3 mb-5">{{ product.price|safe }}</p><br>
                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-simple btn-round btn-long">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Заказать</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
         <form id="form" method="post" class="order-form">
             {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                  <select class="form-control" name="product" id="">
                    <option value="{{ product.id }}">{{ product.name }}</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Ваше имя</label>
                <input name="name" type="text" class="form-control" placeholder="Ваше имя">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Ваш Тел.номер</label>
                <input name="phone" type="tel" class="form-control" placeholder="Тел">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Заказать звонок</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {% if sended %}

    {% endif %}



{% endblock %}
{% block script %}
    <script>
$(document).ready(function(){
    $("#form").submit(function() { //
     var formNm = $(this);
     $.ajax({
     type: "POST",
     url: '',
     data: formNm.serialize(),
     success: function (data) {
     // Вывод текста результата отправки
     $(formNm).html(data);
     },
     error: function (jqXHR, text, error) {
     // Вывод текста ошибки отправки
     $(formNm).html(error);
     }
     });
     return false;
     });
});

 </script>
{% endblock %}

